<html>
<head>
	<title>Журнал</title>
	
	<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='reset.css') }}' />
	<link rel='stylesheet' type='text/css' href='https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css' />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='journalstyle.css') }}">
	<script type='text/javascript' src='https://code.jquery.com/jquery-1.11.1.min.js' charset="utf-8"></script>
	<script type='text/javascript' src='https://code.jquery.com/ui/1.11.1/jquery-ui.min.js' charset="utf-8"></script>
	<script type='text/javascript' src='{{ url_for('static', filename='director.js') }}' charset="utf-8"></script>
</head>
<body>
	<button id='get_data'>Тык</button>
	<div id="teachers">Вот они:</div>
	<div id="subjects">Предметы:</div>
	<div id="add_class" style="display: none;">
		<p>Выберите предмет:</p>
		<select id="sel_sub" name="sub"></select>
		<p>Либо введите:</p>
		<input type="text" name="sub_enter">
		<p>Выберите класс:</p>
		<select id="sel_cl" name="cl"></select>
	</div>
	<div id="add_person">
		<button id="add_field">Добавить поле</button>
		<button id="save_fields">Сохранить</button>
	</div>
</body>
</html>